{% from 'helpers.html' import render_font_style, render_css_url %}
{% extends "layout.html" %}

{% set collection = data.viewer.slug.fontCollection %}

{% block title %}{{ collection.name }} - Example Type Foundry{% endblock %}

{% block content %}
  <div class="collection">
    <h1 class="collection__name">
      {% set feature_style = collection.featureStyle %}
      {% call render_font_style(css_url=feature_style.family.cssUrl, family=feature_style.cssFamily, style=feature_style.name) %}
        {{ collection.name }}
      {% endcall %}
    </h1>

    <div
      data-component="BuyButton"
      data-collection-id="{{ collection.id }}"
      data-collection-name="{{ collection.name }}"
    ></div>

    <p class="collection__description">{{ collection.description }}</p>

    {% if collection.collectionType == 'superfamily' %}
      <div class="styles-group">
        {% for family in collection.children %}
          <div class="styles">
            <h3>{{ family.name }}</h3>

            {% for style in family.fontStyles %}
              {% call render_font_style(css_url=family.cssUrl, family=style.cssFamily, style=style.name) %}
                {{ style.name }}
              {% endcall %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% elif collection.collectionType == 'family' %}
      <div class="styles">
        {{ render_css_url(collection.cssUrl) }}
        {% for style in collection.fontStyles %}
          {% call render_font_style(family=style.cssFamily, style=style.name) %}
            {{ style.name }}
          {% endcall %}
        {% endfor %}
      </div>
    {% endif %}

    <div>
      {% for edge in collection.typeTesters.edges %}
        {% set tester = edge.node %}
        {% set style = tester.fontStyle %}

        <div class="tester">
          <h4>{{ style.familyName }} {{ style.name }}</h4>

          {% call render_font_style(family=style.cssFamily, style=style.name) %}
            <p style="font-size: {{ tester.size }}px; line-height: {{ tester.lineHeight }}">
              {{ tester.content }}
            </p>
          {% endcall %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
