{% from 'helpers.html' import render_font_style, render_css_url %}
{% extends "layout.html" %}

{% set collection = data.viewer.slug.fontCollection %}

{% block title %}{{ collection.name }} - Example Type Foundry{% endblock %}

{% block content %}
  <div class="collection">
    <h1 class="collection__name">
      {% set feature_style = collection.featureStyle %}
      {% call render_font_style(css_url=feature_style.family.cssUrl, family=feature_style.cssFamily, style=feature_style.name) %}
        {{ collection.name }}
      {% endcall %}
    </h1>

    <fontdue-buy-button
      collection-id="{{ collection.id }}"
      collection-name="{{ collection.name }}"
    ></fontdue-buy-button>

    {% if collection.description %}
      <p class="collection__description">{{ collection.description }}</p>
    {% endif %}

    {% if collection.collectionType == 'superfamily' %}
      <div class="styles-group">
        {% for family in collection.children %}
          <div class="styles">
            <h3>{{ family.name }}</h3>

            {% for style in family.fontStyles %}
              {% call render_font_style(css_url=family.cssUrl, family=style.cssFamily, style=style.name) %}
                {{ style.name }}
              {% endcall %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% elif collection.collectionType == 'family' %}
      <div class="styles">
        {{ render_css_url(collection.cssUrl) }}
        {% for style in collection.fontStyles %}
          {% call render_font_style(family=style.cssFamily, style=style.name) %}
            {{ style.name }}
          {% endcall %}
        {% endfor %}
      </div>
    {% endif %}

    <fontdue-type-testers
      collection-id="{{ collection.id }}"
      default-mode="local"
    ></fontdue-type-testers>
  </div>
{% endblock %}
