{% from 'helpers.html' import render_font_style %}
{% extends "layout.html" %}

{% block content %}
  <div class="index">
    {% for edge in data.viewer.fontCollections.edges %}
      {% set collection = edge.node %}
      {% set style = collection.featureStyle %}
      {% set family = style.family %}

      {% call render_font_style(css_url=family.cssUrl, family=style.cssFamily, style=style.name) %}
        <a href="/fonts/{{ collection.id }}" class="index__link">
          {{ collection.name }}
          <span class="index__link__styles">{{ collection.totalStyles }} styles</span>
        </a>
      {% endcall %}

    {% endfor %}
  </div>
{% endblock %}
