<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" href="{{ layout_data.viewer.settings.uiFontUrl }}">
    <style>
     body {
       font-family: "{{ layout_data.viewer.settings.uiFontName }}", sans-serif;
     }
    </style>
  </head>
  <body>
    <main class="main">
      <nav class="nav">
        <a href="/">Typefaces</a>

        <div data-component="CartButton" data-label="Shop"></div>
      </nav>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </main>

    <div data-component="StoreModal"></div>

    <link rel="stylesheet" href="https://js.fontdue.xyz/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.xyz/fontdue.js"></script>

    <script>
     fontdue.initialize({
       url: "{{ fontdue_url }}",
       config: {
         typeTester: {
           min: 6,
           max: 480,
           priceBar: false,
           selectable: true,
           buyButton: true,
           textInput: true,
         },
       },
     });
    </script>
  </body>
</html>
