<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/app.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <main class="main">
      <nav class="nav">
        <a href="/">Typefaces</a>
      </nav>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </main>

    <div data-component="CartButton"></div>
    <div data-component="StoreModal"></div>

    <link rel="stylesheet" href="https://js.fontdue.xyz/fontdue.css">
    <script type="text/javascript" src="https://js.fontdue.xyz/fontdue.js"></script>
    <script>fontdue.initialize({ url: "{{ fontdue_url }}" });</script>

  </body>
</html>
